<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Default suite" parallel="false" verbose="1" preserve-order="true">
	<test verbose="2" name="Default test" parallel="false">
	<parameter name="browser" value="chrome" /> 
	<parameter name="version" value="1.0.2"/>
		<classes>
<!-- 			<class name="train1.AppTest"/>
			<class name="train1.APPTest2"/> -->
			<class name="train1.DataProviderTest"/> 
<!-- 		<class name="train1.Parame"/> --> 
		</classes>
	</test>
<!--  Default test  -->
</suite>